/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.tab {
    -fx-pref-width: 90;
    -fx-pref-height: 60;
    -fx-cursor: hand;
}

.tab-header-background {
    -fx-background-color: #2f2484;

}

.jfx-button:focused {
    -fx-background-color: transparent;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
}


.jfx-tab-pane .tab-selected-line {
    -fx-border-color: #ff0006;
}

.combo-box {
    -fx-border-insets: 0 0 0 0;
}

.table-view .column-header .label {
    /* -fx-background-color: white;
     -fx-pref-width: 288;
     -fx-pref-height: 30;
     -fx-cursor: hand;*/
    -fx-text-fill: #2f2484;
}

.table-row-cell:odd {
    -fx-background-color: #c8d4ff;
}

.table-view .column-header {
    -fx-background-color: white;
    /* -fx-pref-width: 500;
     -fx-pref-height: 30;*/
    -fx-cursor: hand;
    -fx-alignment: CENTER;
}

.table-cell {
    -fx-pref-width: 380;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
    -fx-font: 20px "Segoe UI Symbol";
    -fx-text-fill: #2f2484;
    -fx-alignment: CENTER;
}

.table-cell:hover {
    -fx-background-color: #c8d4ff;
    -fx-text-fill: white;
}

.list-cell {
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
    -fx-font: 20px "Segoe UI Symbol";
    -fx-text-fill: #2f2484;
    -fx-alignment: CENTER;
}

.list-cell:hover {
    -fx-background-color: #c8d4ff;

}

.combo-box, .choice-box {
    -fx-background-color: none;
    -fx-border-width: 0 0 1 0;
}

#table .table-view .column-header .label {
    /* -fx-background-color: white;
     -fx-pref-width: 288;
     -fx-pref-height: 30;
     -fx-cursor: hand;*/
    -fx-text-fill: #2f2484;
}

#table .table-row-cell:odd {
    -fx-background-color: #c8d4ff;
}

#table .table-view .column-header {
    -fx-background-color: white;
    /* -fx-pref-width: 288;
     -fx-pref-height: 30;*/
    -fx-cursor: hand;
    -fx-alignment: CENTER;
}

#selectionGrid .label {
    -fx-text-fill: #2f2484;
    -fx-font: 16px "Segoe UI Symbol";
    -fx-alignment: CENTER;
}

#selectionGrid .jfx-toggle-button {
    -jfx-toggle-color: #2f2484;
    -jfx-toggle-line-color: #999999;
    -jfx-untoggle-color: #E81123;
    -jfx-untoggle-line-color:#999999;
}


